.c-btn {
  // wide btn
  &--wide {
    padding: 20px 0;
    border: 1px solid #000;
    color: $color-main;
    text-align: center;
    font-size: 1.8rem;
    transition: 0.5s;
    &:hover {
      border: 1px solid $color-main;
      background-color: $color-main;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.8);
      color: #fff;
    }
    &:active {
      box-shadow: none;
    }
  }
  // wide btn

  //  hamburger
  &--hamburger {
    &__nav {
      @include mq(xl) {
        position: fixed;
        top: 0;
        right: -300px;
        z-index: 2;
        padding-top: 50px;
        padding-left: 3rem;
        width: 300px;
        height: 100%;
        background: rgba($color-sub, 0.5);
        font-size: 16px;
      }
    }
    &__btn {
      // display: none;
      @include mq(xl) {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 3;
        width: 30px;
        height: 28px;
        cursor: pointer;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        &__span {
          position: absolute;
          width: 30px;
          height: 4px;
          border-radius: 10px;
          background: #666;
          -webkit-transition: all 400ms;
          transition: all 400ms;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 12px;
          }
          &:nth-child(3) {
            top: 24px;
          }
        }
      }
    }
  }
  //  hamburger
}
