.p {
  // news
  &-news {
    &--content {
      align-items: center;
      margin-bottom: 2rem;
      padding: 0.4rem 0;
      border-bottom: 1px solid $color-main;
      font-size: 1.2rem;

      @include mb0();
      &__item {
        margin-right: 2rem;

        @include mr0;
      }
      &__tag {
        padding: 0.4rem 0.8rem;
        background-color: $color-main;
        color: #fff;
      }
    }
  }
  // service
  &-service {
    &--wrapper {
      width: 1000px;
    }
    &--left {
      width: 650px;
      height: 600px;
      font-size: 0;
    }
    &--right {
      width: 350px;
      height: 600px;
    }
    &--image {
      &__left {
        width: 100%;
        height: 50%;
        transition: 0.5s;
        &:hover {
          opacity: 0.8;
        }
      }
      &__right {
        width: 100%;
        height: 100%;
        transition: 0.5s;

        @include mq(lg) {
          display: none;
        }
        &__mq {
          display: none;

          @include mq(lg) {
            display: block;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  // about
  &-about {
    &--img {
      width: 100%;
      transition: 0.5s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  //contact
  &-contact {
    &--wrapper {
      width: 500px;
    }
    &--caption {
      color: $color-main;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
