.p {
  &-nav {
    &--header {
      display: block;
      margin-right: 30px;
      padding: 3rem 0;
      font-size: 1.4rem;
      line-height: 1.9rem;

      @include mq(xl) {
        margin-right: 0;
        color: #fff;
      }
      &__border {
        &::after {
          display: block;
          width: 0;
          border-bottom: 1px solid $color-main;
          content: "";
          transition: all 0.3s ease;
        }
        &:hover::after {
          width: 100%;

          @include mq(xl) {
            width: 0;
          }
        }
      }
      &__contact {
        margin-right: calc(-1 * (100vw - 1000px) / 2);
        padding: 3rem 0;
        width: calc((100vw - 1000px) / 2);
        background-color: $color-main;
        color: #fff;
        text-align: center;
        line-height: 2rem;
        transition: 0.5s;

        @extend .p-nav--header;
        @include mq(xl) {
          margin-right: 0;
          width: auto;
          background-color: transparent;
          text-align-last: left;
        }

        &:hover {
          background-color: $color-sub;

          @include mq(xl) {
            background-color: transparent;
          }
        }
      }
    }
    &--footer {
      @include mr0();
      @include mq(xl) {
        margin-bottom: 3rem;

        @include mb0();
      }
      &-main {
        margin-bottom: 4rem;
      }

      &__title {
        margin-bottom: 3rem;
        color: #fff;

        @include mq(xl) {
          margin-bottom: 1.4rem;
          font-size: 2rem;
        }
      }
      &__item {
        margin-bottom: 1.4rem;
        color: #fff;
        font-size: 0.14rem;

        @include mq(xl) {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
