@charset "UTF-8";
/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  word-wrap: break-word;
  font-family: OpenSans, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "MS　Pゴシック", "MS PGothic", Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

.l-footer {
  padding: 50px 0 10px;
  width: 100%;
  background-color: #019bdf;
}

.l-header {
  width: 100%;
}

.l-main, .l-main:nth-child(odd) {
  padding: 50px 0;
  width: 100%;
}

.l-main:nth-child(odd) {
  background-color: #edfcff;
}

.l-wrapper {
  margin: 0 auto;
  width: 1000px;
}

@media screen and (max-width: 1200px) {
  .l-wrapper {
    width: 90%;
  }
}

.l-flex {
  display: flex;
}

.l-space-between {
  align-items: center;
  justify-content: space-between;
}

.l-center {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .l-column--mq {
    flex-direction: column;
  }
}

.c-btn--wide {
  padding: 20px 0;
  border: 1px solid #000;
  color: #019bdf;
  text-align: center;
  font-size: 1.8rem;
  transition: 0.5s;
}

.c-btn--wide:hover {
  border: 1px solid #019bdf;
  background-color: #019bdf;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
}

.c-btn--wide:active {
  box-shadow: none;
}

@media screen and (max-width: 1000px) {
  .c-btn--hamburger__nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 24px;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
}

@media screen and (max-width: 1000px) {
  .c-btn--hamburger__btn__span {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: #666;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .c-btn--hamburger__btn__span:nth-child(1) {
    top: 0;
  }
  .c-btn--hamburger__btn__span:nth-child(2) {
    top: 10px;
  }
  .c-btn--hamburger__btn__span:nth-child(3) {
    top: 20px;
  }
}

.p-news--content {
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #019bdf;
  font-size: 1.2rem;
}

.p-news--content:last-child {
  margin-bottom: 0;
}

.p-news--content__item {
  margin-right: 2rem;
}

.p-news--content__item:last-child {
  margin-right: 0;
}

.p-news--content__tag {
  padding: 0.4rem 0.8rem;
  background-color: #019bdf;
  color: #fff;
}

.p-service--wrapper {
  width: 1000px;
}

.p-service--left {
  width: 650px;
  height: 600px;
  font-size: 0;
}

@media screen and (max-width: 1200px) {
  .p-service--left {
    width: 100%;
    height: auto;
  }
}

.p-service--right {
  width: 350px;
  height: 600px;
}

@media screen and (max-width: 1200px) {
  .p-service--right {
    width: 100%;
    height: auto;
  }
}

.p-service--image__left {
  width: 100%;
  height: 50%;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .p-service--image__left {
    display: block;
    height: auto;
  }
}

.p-service--image__left:hover {
  opacity: 0.8;
}

.p-service--image__right {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .p-service--image__right {
    display: none;
  }
}

.p-service--image__right__mq {
  display: none;
}

@media screen and (max-width: 1200px) {
  .p-service--image__right__mq {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.p-service--image__right:hover {
  opacity: 0.8;
}

.p-about--img {
  width: 100%;
  transition: 0.5s;
}

.p-about--img:hover {
  opacity: 0.8;
}

.p-contact--wrapper {
  width: 500px;
}

.p-contact--caption {
  color: #019bdf;
  text-align: center;
  font-size: 1.4rem;
}

.p-title--main {
  color: #019bdf;
  text-align: center;
  font-size: 2.8rem;
}

.p-title--main__inner {
  color: #30d0ed;
}

.p-title--sub {
  margin-bottom: 1rem;
  color: #019bdf;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.p-title--sub__caption {
  margin-bottom: 3rem;
  color: #019bdf;
  text-align: center;
  font-size: 1.2rem;
}

.p-nav--header, .p-nav--header__contact {
  display: block;
  margin-right: 30px;
  padding: 3rem 0;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.p-nav--header__border::after {
  display: block;
  width: 0;
  border-bottom: 1px solid #019bdf;
  content: "";
  transition: all 0.3s ease;
}

.p-nav--header__border:hover::after {
  width: 100%;
}

.p-nav--header__contact {
  margin-right: calc(-1 * (100vw - 1000px) / 2);
  padding: 3rem 0;
  width: calc((100vw - 1000px) / 2);
  background-color: #019bdf;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  transition: 0.5s;
}

.p-nav--header__contact:hover {
  background-color: #30d0ed;
}

.p-nav--footer {
  margin-right: 5rem;
}

.p-nav--footer:last-child {
  margin-right: 0;
}

.p-nav--footer-main {
  margin-bottom: 4rem;
}

.p-nav--footer__title {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #fff;
}

.p-nav--footer__item {
  font-size: 0.14rem;
  margin-bottom: 1.4rem;
  color: #fff;
}

.p-main-visual {
  width: 100vw;
  height: 70vh;
  background-image: url(../img/Hero@2x.png);
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .p-main-visual {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
}

.p-main-visual--text {
  padding-top: 10rem;
  color: #fff;
  text-align: right;
  font-size: 6rem;
  font-family: serif;
}

.u-mb30 {
  margin-bottom: 3rem;
}

.u-mr40 {
  margin-right: 4rem;
}

@media screen and (max-width: 1200px) {
  .u-mr40 {
    margin-right: 0;
  }
}

.u-color--black {
  color: #333;
}

.u-color--white {
  color: #fff;
}
